 .numberexp {
    background: linear-gradient(to left, #eb8f5e, #ffffffc8);
    color: #d66f37;
    font-family: poppins, sans-serif;
    min-height: 68vh;
}

 .numberexp .fulldiv1,
.fulldiv2 {
    display: flex;
    padding: 60px 50px 0px 150px;
    
}

// .numberexp .fulldiv1 .div1{
//     min-width: 50%;
//     min-height: 100%;
    
// }

 .numberexp .fulldiv1 .div1 h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 60px;
    color: #d96122;
    padding-right: 60px;
}

 .numberexp .fulldiv1 .div1 h5 {
    font-weight: 500;
    font-size: 18px;
    padding-right: 60px;
}

 .numberexp .fulldiv1 .div2 h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 60px;
    color: #d96122;
}

 .numberexp .fulldiv1 .div2 h5 {
    font-weight: 500;
    font-size: 18px;
}

