
 <div class="reviewsboxes">
    <div class="revbox" *ngFor="let reviews of reviewBoxesDetail">
      <div class="rating">
        <h3>{{ reviews.rate }}</h3>
        <div class="icon">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
      </div>

      <p>{{ reviews.reviewWord }}</p>
      <small>{{ reviews.company }}</small>

      <div class="verified">
        <i class="bi bi-patch-check-fill"></i>&nbsp;
        <p>{{ reviews.veried }}</p>
      </div>
    </div>

    
  </div>