<div class="hire">
    <h3>{{ hireDeveloper.hireHead }}</h3>
    <ul>
      <li>
        <a href="">{{ hireDeveloper.hireHead }}</a>
      </li>
      <li>
        <a href="">{{ hireDeveloper.hirePython }}</a>
      </li>
      <li>
        <a href="">{{ hireDeveloper.hireAngular }}</a>
      </li>
      <li>
        <a href="">{{ hireDeveloper.hireROR }}</a>
      </li>
      <li>
        <a href="">{{ hireDeveloper.hireFlutter }}</a>
      </li>
      <li>
        <a href="">{{ hireDeveloper.hireReact }}</a>
      </li>
      <li>
        <a href="">{{ hireDeveloper.HireReactNative }}</a>
      </li>
    </ul>
  </div>
