<div class="hr">
    <h3>{{ hrInquiry.hrHead }}</h3>
    <ul>
      <li>
        <a href=""><i class="bi bi-telephone-fill"></i>&nbsp;
          {{ hrInquiry.hrEmail }}</a>
      </li>
      <li>
        <a href=""><i class="bi bi-envelope-fill"></i>&nbsp;
          {{ hrInquiry.hrMobile }}</a>
      </li>
    </ul>
  </div>
  <div class="sales">
    <h3>{{ salesInquiry.salesHead }}</h3>
    <ul>
      <li>
        <a href=""> {{ salesInquiry.salesEmail }}</a>
      </li>
      <li>
        <a href=""> {{ salesInquiry.salesCompany }}</a>
      </li>
    </ul>
  </div>
