<div class="topbar">
  <app-header-navbar [headerNavContent]="labelHeader"></app-header-navbar>
  <app-header-main-content></app-header-main-content>
</div>

<app-sevices [serviceBoxes]="ourServices"></app-sevices>

<!-- ___________________________________________________________ -->

<div class="experience">
  <app-experience-content></app-experience-content>

  <span>
    <img [src]="exprUpperImg" height="490" />
  </span>
  <app-experience-projects [experienceProjects]="experianseNumBoxs"></app-experience-projects>
</div>

<!-- ____________________________________________________________________ -->

<h1 style="text-align: center; margin: 40px; font-size: 2rem; margin-bottom: 0">
  {{ technologyHead }}
</h1>
<span class="headerline"></span>
<div class="row">
  <app-technologies [technologyMenus]="techMenu" style="padding-left: 0;"></app-technologies>

  <div class="language">
    <div class="web">
      <h1>Web</h1>


      <app-technology-backend [backendLanuages]="backEnds"></app-technology-backend>

      <app-technology-frontend [frontendLanuages]="frontEnds"></app-technology-frontend>

    </div>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<app-why-tagline></app-why-tagline>
<app-why-tagline-boxes [whyTaglineBoxs]="whyTaglineBox"></app-why-tagline-boxes>

<!-- ____________________________________________________________________ -->

<div class="reviews">
  <app-client-words></app-client-words>
  <app-review-boxes [reviewBoxesDetail]="reviewBoxes"></app-review-boxes>


</div>

<!-- ____________________________________________________________________ -->

<app-awards></app-awards>

<!-- ____________________________________________________________________ -->


<app-blogs [blogsBox]="blogs"></app-blogs>
<!-- ____________________________________________________________________ -->

<div class="contactus">
  <app-contact-detail [contactForm]="contactFormDetail"></app-contact-detail>
  <app-contact-form></app-contact-form>
</div>

<!-- ____________________________________________________________________ -->

<div class="footer">
  <app-footer-top></app-footer-top>
  <div class="division">
    <div>
      <app-footer-hr-sales [hrMenu]="footerHrMenu" [salesMenu]="footerSalesMenu"></app-footer-hr-sales>
    </div>
    <app-footer-help [helpMenu]="footerHelpMenu"></app-footer-help>
    <app-footer-sevices [Services]="footerServicesMenu"></app-footer-sevices>
    <app-footer-hiredeveloper [hireDevelopMenu]="footerHireDevlopMenu"></app-footer-hiredeveloper>
  </div>

  <app-footer-last></app-footer-last>
</div>